h1 {color:red
}
#Corinthians {width: 40%;
}

#Corinthians {margin-left: 30%;}
h1 {font-size: 250%;
}
h1 {text-align: center;
}
#Futebol {margin-left: 32%;
}
h2 {text-align: center;}

h2 {font-size: 250%;}

h2 {color:darkred
}

#idolos {margin-left: 32%;}

#idolos {width: 40%;
}

h3 {color:darkred
}

h3 {text-align: center;}

h3 {font-size: 250%;}

body {background-color: black;}

